
@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));


  

@layer utilities {
    .clip-path-custom {
      clip-path: polygon(100% 0, 100% 100%, 0 80%);
    }
  }
  

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient {
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #22c55e, #3b82f6);
    animation: gradient-shift 7s infinite ease-in-out;
  }
  